/*Style your own assignment! This is fun! */
h1, form, li, p{
    text-align: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.petTile {
    width: 175px;
    height:250px;
    object-fit: cover;
}

figure {
    inline-size: 200px;
    overflow-wrap: break-word;
}
